<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>전체 주간 계획표</title>
</head>
<body>
<h1>전체 주간 계획표</h1>
<ul th:each="weeklySchedule : ${allWeeklySchedule}">
    <li><a href="#" th:href="@{|/timetable/${weeklySchedule.startDate}|}"
           th:text="|${weeklySchedule.startDate}~${weeklySchedule.endDate}|">2024.04.01~2024.04.06</a></li>
</ul>
<button onclick="location.href='/timetable/new'">추가</button>
</body>
</html>